body { padding-top: 70px; }

.quake-map-image {
  width: 50%;
  height: 50%;
}

.logo-header-small {
	max-width:45px;
	max-height:45px;
}

#demosIndex .navbar-brand {
    color: rgba(255,80,80,1);
}

.navbar-logo {
  padding: 0;
}

#credits {
  display: none;
  margin-top: 50px;
}
