.tomorrow-comment,
pre .comment,
pre .title {
  color: #8e908c;
}
.tomorrow-red,
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
.tomorrow-orange,
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
.tomorrow-yellow,
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #eab700;
}
.tomorrow-green,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
.tomorrow-aqua,
pre .css .hexcolor {
  color: #3e999f;
}
.tomorrow-blue,
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
.tomorrow-purple,
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
pre code {
  display: block;
  background: #fff;
  color: #4d4d4c;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
table,
td,
th {
  vertical-align: middle;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a img {
  border: none;
}
body {
  margin: 10px;
}
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font: 14px/22px "adelle", Georgia, sans-serif;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  background: #f4f6ec;
}
a {
  color: #369;
}
#container {
  width: 922px;
  margin: 0 auto;
}
#header {
  border-bottom: 3px solid rgba(0,0,0,0.10);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#header #logo {
  color: #111;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0;
  text-decoration: none;
}
#nav {
  float: left;
  width: 230px;
  margin-right: 30px;
  margin-top: 40px;
}
#nav a {
  display: block;
  font-weight: bold;
  text-decoration: none;
}
#nav #sections {
  list-style-type: none;
  border-bottom: 3px solid rgba(0,0,0,0.10);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#nav #sections > li > a {
  padding: 5px 0;
  color: #444;
  font-size: 16px;
}
#nav #sections ul {
  margin-bottom: 15px;
}
#nav #sections ul li {
  list-style-type: none;
}
#nav #sections ul li a {
  padding: 1px 15px;
  font-size: 13px;
  font-weight: normal;
}
#nav .extra {
  padding: 5px 0;
  min-height: 1.4em;
}
#nav .extra a {
  color: #555;
  font-size: 14px;
}
#nav #travis img {
  margin-top: 10px;
  display: block;
}
#nav > *:last-child {
  margin-bottom: 20px;
}
#github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
}
#github-ribbon img {
  border: 0;
}
#content {
  padding: 30px 30px 20px 30px;
  min-height: 100px;
  width: 600px;
  background: #fff;
  float: left;
  border: 1px solid rgba(0,0,0,0.20);
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  margin-top: 15px;
/* From Tripoli  */
}
#content #loader {
  color: #888;
  width: 300px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 30px;
  left: 30px;
  background: url("data:image/gif;base64,R0lGODlhGAAYAPYAAP///5mZmfn5+dvb27i4uKmpqaCgoNra2v39/c/Pz6CgoJmZmfT09K+vr66urvb29qWlpaSkpPPz8/v7+87Ozvj4+NXV1dTU1Li4uKysrJubm52dnaqqqu7u7uPj46Ojo8LCwvb29ra2tqenp7q6utzc3JycnNfX1/Ly8uzs7J6ensbGxs3NzeDg4MvLy9LS0r+/v/r6+qysrOrq6t7e3tnZ2cTExLS0tLOzs6ioqLGxsefn57W1tcvLy7y8vMHBwd7e3qKiovHx8cfHx+Hh4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAFAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAGAAYAAAHmoAAgoOEhYaHgxUWBA4aCxwkJwKIhBMJBguZmpkqLBOUDw2bo5kKEogMEKSkLYgIoqubK5QJsZsNCIgCCraZBiiUA72ZJZQABMMgxgAFvRyfxpixGx3LANKxHtbNth8hy8i9IssHwwsXxgLYsSYpxrXDz5QIDubKlAwR5q2UErC2poxNoLBukwoX0IxVuIAhQ6YRBC5MskaxUCAAIfkEAAUAAQAsAAAAABgAGAAAB6GAAIKDhIWGh4MVFgQOGhsOGAcxiIQTCQYLmZqZGwkIlA8Nm6OaMgyHDBCkqwsjEoUIoqykNxWFCbOkNoYCCrmaJjWHA7+ZHzOIBMUND5QFvzATlACYsy/TgtWsIpPTz7kyr5TKv8eUB8ULGzSIAtq/CYi46Qswn7AO9As4toUMEfRcHZIgC9wpRBMovNvU6d60ChcwZFigwYGIAwKwaUQUCAAh+QQABQACACwAAAAAGAAYAAAHooAAgoOEhYaHgxUWBA4aCzkkJwKIhBMJBguZmpkqLAiUDw2bo5oyEocMEKSrCxCnhAiirKs3hQmzsy+DAgq4pBogKIMDvpvAwoQExQvHhwW+zYiYrNGU06wNHpSCz746O5TKyzwzhwfLmgQphQLX6D4dhLfomgmwDvQLOoYMEegRyApJkIWLQ0BDEyi426Six4RtgipcwJAhUwQCFypA3IgoEAAh+QQABQADACwAAAAAGAAYAAAHrYAAgoOEhYaHgxUWBA4aCxwkJzGIhBMJBguZmpkGLAiUDw2bo5oZEocMEKSrCxCnhAiirKsZn4MJs7MJgwIKuawqFYIDv7MnggTFozlDLZMABcpBPjUMhpisJiIJKZQA2KwfP0DPh9HFGjwJQobJypoQK0S2B++kF4IC4PbBt/aaPWA5+CdjQiEGEd5FQHFIgqxcHF4dmkBh3yYVLmx5q3ABQ4ZMBUhYEOCtpLdAACH5BAAFAAQALAAAAAAYABgAAAeegACCg4SFhoeDFRYEDhoaDgQWFYiEEwkGC5mamQYJE5QPDZujmg0PhwwQpKsLEAyFCKKsqw0IhAmzswmDAgq5rAoCggO/sxaCBMWsBIIFyqsRgpjPoybS1KMqzdibBcjcmswAB+CZxwAC09gGwoK43LuDCA7YDp+EDBHPEa+GErK5GkigNIGCulEGKNyjBKDCBQwZMmXAcGESw4uUAgEAIfkEAAUABQAsAAAAABgAGAAAB62AAIKDhIWGh4MVFgQOGgscJCcxiIQTCQYLmZqZBiwIlA8Nm6OaGRKHDBCkqwsQp4QIoqyrGZ+DCbOzCYMCCrmsKhWCA7+zJ4IExaM5Qy2TAAXKQT41DIaYrCYiCSmUANisHz9Az4fRxRo8CUKGycqaECtEtgfvpBeCAuD2wbf2mj1gOfgnY0IhBhHeRUBxSIKsXBxeHZpAYd8mFS5seatwAUOGTAVIWBDgraS3QAAh+QQABQAGACwAAAAAGAAYAAAHooAAgoOEhYaHgxUWBA4aCzkkJwKIhBMJBguZmpkqLAiUDw2bo5oyEocMEKSrCxCnhAiirKs3hQmzsy+DAgq4pBogKIMDvpvAwoQExQvHhwW+zYiYrNGU06wNHpSCz746O5TKyzwzhwfLmgQphQLX6D4dhLfomgmwDvQLOoYMEegRyApJkIWLQ0BDEyi426Six4RtgipcwJAhUwQCFypA3IgoEAAh+QQABQAHACwAAAAAGAAYAAAHoYAAgoOEhYaHgxUWBA4aGw4YBzGIhBMJBguZmpkbCQiUDw2bo5oyDIcMEKSrCyMShQiirKQ3FYUJs6Q2hgIKuZomNYcDv5kfM4gExQ0PlAW/MBOUAJizL9OC1awik9PPuTKvlMq/x5QHxQsbNIgC2r8JiLjpCzCfsA70Czi2hQwR9FwdkiAL3ClEEyi829Tp3rQKFzBkWKDBgYgDArBpRBQIADsAAAAAAAAAAAA=") no-repeat center left;
  padding-left: 32px;
  font-size: 18px;
}
#content > p {
  zoom: 1;
}
#content > p:before,
#content > p:after {
  content: "";
  display: table;
}
#content > p:after {
  clear: both;
}
#content p {
  padding: 0 0 0.8125em 0;
  color: #444;
}
#content p img {
  float: left;
  margin: 0.5em 0.8125em 0.8125em 0;
  padding: 0;
}
#content img {
  max-width: 100%;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  font-weight: bold;
  line-height: 1.2em;
}
#content h1 {
  font-size: 2.125em;
  margin-bottom: 0.4em;
}
#content h2 {
  font-size: 1.7em;
  margin: 0.855em 0 0.4em;
  color: #cc333f;
}
#content h3 {
  font-size: 1.3em;
  margin: 0.956em 0 0.4em;
}
#content h4 {
  font-size: 1.1em;
  margin: 1.161em 0 0.4em;
}
#content h5,
#content h6 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.238em 0 0.4em;
}
#content > h1,
#content > h2 {
  margin-top: 0;
}
#content ul {
  list-style-position: outside;
}
#content li ul,
#content li ol {
  margin: 0 1.625em;
}
#content ul,
#content ol {
  margin: 0 0 1.625em 1.25em;
}
#content dl {
  margin: 0 0 1.625em 0;
}
#content dl dt {
  font-weight: bold;
}
#content dl dd {
  margin-left: 1.625em;
}
#content a {
  text-decoration: none;
}
#content a:hover {
  text-decoration: underline;
}
#content table {
  margin-bottom: 1.625em;
  border-collapse: collapse;
}
#content th {
  font-weight: bold;
}
#content tr,
#content th,
#content td {
  margin: 0;
  padding: 0 1.625em 0 1em;
  height: 26px;
}
#content tfoot {
  font-style: italic;
}
#content caption {
  text-align: center;
  font-family: Georgia, serif;
}
#content abbr,
#content acronym {
  border-bottom: 1px dotted #000;
}
#content address {
  margin-top: 1.625em;
  font-style: italic;
}
#content del {
  color: #000;
}
#content blockquote {
  padding: 1em 1em 1.625em 1em;
  font-family: georgia, serif;
  font-style: italic;
}
#content blockquote:before {
  content: "\201C";
  font-size: 3em;
  margin-left: -0.625em;
  font-family: georgia, serif;
  color: #aaa;
  line-height: 0;
}
#content blockquote > p {
  padding: 0;
  margin: 0;
}
#content strong {
  font-weight: bold;
}
#content em,
#content dfn {
  font-style: italic;
}
#content dfn {
  font-weight: bold;
}
#content pre,
#content code {
  margin: 0 0 1.625em;
  white-space: pre;
}
#content pre,
#content code,
#content tt {
  font-size: 1em;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  line-height: 1.5;
}
#content code {
  background: #f7f8f1;
  padding: 1px 2px;
  border: 1px solid #ccc;
}
#content pre code {
  padding: 10px 12px;
  word-wrap: normal;
  overflow-y: auto;
}
#content tt {
  display: block;
  margin: 1.625em 0;
}
#content hr {
  margin-bottom: 1.625em;
}
#content table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}
#content th,
#content td {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
#content th {
  background: #eee;
  padding: 7px 10px;
}
#content td {
  font-size: 0.9em;
  border-color: #ddd;
}
#content tbody tr:nth-child(2n) {
  background: #f5f5f5;
}
@media only screen and (max-width : 480px) {
  #container {
    width: 100%;
  }
  #nav {
    width: 100%;
    margin-top: 10px;
    float: none;
  }
  #nav #sections,
  #nav #header,
  #nav .extra {
    padding-left: 30px;
    padding-right: 30px;
  }
  #content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 1px;
    float: none;
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution : 1.5dppx) {
  #github-ribbon img {
    width: 100px;
  }
}
