* {
    padding: 0px;
    margin: 0px;
}

#log {
    width: 100%;
    position: absolute;
    height: 100px;
    overflow-y: scroll;
    bottom: 0px;
    left: 0px;
}

.log-item {
    display: block;
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 12px;
}

.date {
    color: rgba(190,190,190,1);
}

.CREATE {
    color: rgba(92, 217, 239, 1);
}

.UPDATE {
    color: rgba(92, 217, 239, 1);
}

.ERROR {
    color: rgba(240, 67, 40, 1);
}

.INFO {
    color: rgba(220,220,220,1);
}

.node {
    cursor: pointer;
    stroke-width: 1px;
    stroke: rgba(80,80,80,1);
    fill: rgba(180,180,180,1);
}

.nodetype, .nodeid{
    cursor: pointer;
    font-family: helvetica, sans-serif;
    font-size: 12px;
}

.idrect {
    fill: rgba(220,220,220,1);
    cursor: pointer;
}

.link {
    cursor: pointer;
    stroke-width: 1px;
    stroke: rgba(80,80,80,1);
}

.rateLabel {
    font-size: 12px;
    font-family: helvetica, sans-serif;
}

.chan {
    cursor: pointer;
    fill: rgba(60,60,60,1);
}

.chan:hover{
    stroke-width: 1px;
    stroke: rgba(0,0,0,1);
}

.tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    font-family: helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    background: rgba(220,220,220,1);
    color: black;
    padding: 2px;
}

.query {
    fill: rgba(255,80,80,1);
}