.shepherd-step {
  font-family:'helvetica', 'arial';
  max-width:350px!important;
  opacity:.8;
  pointer-events:none!important;
}

.shepherd-button {
  pointer-events:auto!important;
}

.shepherd-step a {
  pointer-events:auto!important;
}

.tutorial-blockname {
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size:12px!important;
  padding:2px;
  background-color:lightgray;
}

.tutorial-url {
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size:12px!important;
  color:darkgray;
}