.hopscotch-bubble {
  font-family:'helvetica', 'arial';
  font-size:16px!important;
  opacity:.8!important;
  pointer-events:none!important;
  border:0px!important;
}

.hopscotch-content {
  font-family:'helvetica', 'arial';
  font-size:16px!important;
  line-height:20px!important;
}

.hopscotch-nav-button {
  pointer-events:auto!important;
  text-shadow:none!important;
  border:0px!important;
  background-image:none!important;
  font-family:'helvetica', 'arial';
}

.hopscotch-bubble a {
  pointer-events:auto!important;
}

p {
  margin-bottom:12px;
}

p.alert {
  display:none;
}

p.alert-visible {
  display:block;
  color:red;
}

.tutorial-blockname {
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size:12px!important;
  padding:2px;
  background-color:lightgray;
  color:black !important;
}

.tutorial-url {
  font-family: Monaco, "Courier New", Courier, monospace;
    pointer-events:auto!important;
  font-size:12px!important;
  color:gray;
}