<html lang="en" xml:lang="en" dir="ltr" xmlns= "http://www.w3.org/1999/xhtml">
<head>
<title>Streamtools</title>
<meta charset="UTF-8" />
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en" />
<link rel="stylesheet" type="text/css" href="static/css/main.css">
<script src="static/lib/d3.v3.min.js"></script>
<script src="static/lib/jquery-2.1.0.min.js"></script>
<script src="static/lib/underscore-min.js"></script>
<script src="static/lib/typeahead.bundle.min.js"></script>
<script src="static/lib/resize.js"></script>
<script src="static/js/main.js"></script>
<script src="static/lib/yepnope.1.5.4-min.js"></script>

<script type="text/template" id="ui-ref-item-template">
    <div id="ui-ref-blockdefs">
      <ul>
        <%
          categories = _.uniq(_.pluck(data, "category").sort());
          _.each(categories, function(category, i){ 
        %>
            <li class="ref-block-cat"><%= category %></li>
        <%

            var blocks = _.sortBy(_.where(data, { "category": category }), "type");
            _.each(blocks, function(block, i) {
        %>
                <li class="ref-add-block" data-block-type="<%= block.type %>"><%= block.type %></li>
        <%
            });
          });
        %>
      </ul>
    </div>
</script>

<script type="text/template" id="log-item-template">
    <span class="date"><%= item.time %></span>
    <%= item.id %>
    <span class="<%= item.type %>"><%= item.type %></span>
    <%= item.data %>
</script>

<script type="text/template" id="ui-log-item-template">
    <span class="ui-log">client: <%= item.data %></span>
</script>

<script type="text/template" id="controller-template">
    <%
    _.each(data.Rule, function(v, k){ 
    %>
        <div class="name"><%= k %></div>
    <%
            switch (typeof(v)){
                case 'string':
                if(k == 'Script'){
    %>
        <textarea class="rule" name="Text1" cols="25" rows="10" id="<%= 'c_' + data.Id + '_' + k %>" data-type="script" ><%= v %></textarea>
    <%
                } else if(k == 'Method') {
    %>
        <select id="<%= 'c_' + data.Id + '_' + k %>" data-type="script" >
            <option value="GET" <%= v == 'GET' ? 'selected' : '' %> >GET</option>
            <option value="POST" <%= v == 'POST' ? 'selected' : '' %> >POST</option>
            <option value="PUT" <%= v == 'PUT' ? 'selected' : '' %> >PUT</option>
            <option value="DELETE" <%= v == 'DELETE' ? 'selected' : '' %> >DELETE</option>
            <option value="OPTIONS" <%= v == 'OPTIONS' ? 'selected' : '' %> >OPTIONS</option>
            <option value="HEAD" <%= v == 'HEAD' ? 'selected' : '' %> >HEAD</option>
        </select>
    <%
                } else {
    %>
         <input class="rule" type="text" id="<%= 'c_' + data.Id + '_' + k %>" data-type="script" value="<%= v %>">
    <%             
                }
                break;
                case 'number':
    %>
        <input class="rule" type="text" id="<%= 'c_' + data.Id + '_' + k %>" data-type="number" value="<%= v %>">
    <%
                break;
                case 'boolean': 
    %>
        <select id="<%= 'c_' + data.Id + '_' + k %>" data-type="boolean" >
            <option value="false" <%= !v ? 'selected' : '' %> >false</option>
            <option value="true" <%= v ? 'selected' : '' %> >true</option>
        </select>

    <%
                break;
                case 'object':
    %>
        <textarea class="rule" name="Text1" cols="25" rows="10" id="<%= 'c_' + data.Id + '_' + k %>" data-type="object" ><%= JSON.stringify(v, null, 4) %></textarea>
    <%
                break;
            }
    }) 
    %>
</script>

</head>
<body>
<div id="ui-ref">
  <div id="ui-ref-control">
    <button id="ui-ref-toggle">&#9776;</button>
  </div>
  <div id="ui-ref-contents">
  </div>
</div>

<div id="log"></div>
<div id="create">
    <input type="text" name="" id="create-input" placeholder="input type of block to create..."/>
</div>
</body>
</html>
